/* main div:nth-child(n) {
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s, opacity 1s;
} */

#banner-section,
#product-section,
#instagram-section {
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s, opacity 1s;
}

.slide-in {
    opacity: 1 !important;
    transform: translateY(0) !important;
}