@tailwind base;
@tailwind components;
@tailwind utilities;


/* color pallete
dark cyan
#78B3CE

light blue
#C9E6F0

white
#FBF8EF

orange
#F96E2A
*/

/* custom react slick style */
.slick-slide {
    padding: 10px;
}

.react-multi-carousel-track {
    gap: 10px;
}


/* Custom scrollbar */
.scrollbar::-webkit-scrollbar {
    width: 3px;
}

.scrollbar::-webkit-scrollbar-track {
    background: #e8e8e8;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #565656;
    border-radius: 4px;
    scrollbar-width: thin;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

.animated-message {
    opacity: 0;
    animation: slideFromBottom 0.5s ease forwards;
}

@keyframes slideFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}